body {
  background-image: url('images/background.jpg');
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  background-color: #e9e9e9d6;
  height: 70%;
  border-radius: 1%;
  width: 764px;
  border-radius: 8px;
}

@media (max-width: 1040px) {
  .container {
    width: 664px;
  }
}

@media (max-width: 850px) {
  .container {
    width: 564px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .container {
    width: 90%;
  }
}
/*
.quote-img {
  height: 350px;
  border-radius: 8px;
  margin: 4% 6%;
  box-shadow: rgb(0 0 0 / 89%) 0px 1px 8px;
  height: 350px;
  width: 100%;
  object-fit: cover;
} */

.container-top {
  background-color: #e9e9e9d6;
  padding: 0.1%;
  border-bottom: 2px solid white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container-top h4 {
  text-align: center;
  font-size: 24px;
  color: #000000c4;
  margin: 2.5% 0
}

.carousel {
  position:relative;
  height: 600px;
  /* width: 80%; */
  margin: 0 auto;
  width: 88%;
  height: 88%;
  padding-top: 4%
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgb(126 126 126 / 89%) 0px 1px 3px
}

.carousel-container {
  height: 50%;
  position: relative;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  height: 200px;
  transform: translateY(-50%);
  border: 0;
  right: -50px;
  cursor: pointer;
}

.carousel-btn p {
  font-size: 50px;
}

.icons-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 5%
}

.cat-btn img {
  width: 150px;
  height: 150px;
}
/*
.carousel {
  padding: 0;
  margin: 0;
  position: relative;
} */
/*
.carousel ul {
  list-style-type: none;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position:absolute;
  width: 88%;
} */

/* .icons-flex {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
} */
/*
.icons-flex p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000000c2;
  margin: 5%;
}

.cat-btn {
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: rgb(157 157 157 / 89%) 0px 1px 8px;
}

.cat-btn img {
  width: 150px;
  height: 150px
} */
/*
.btn-next {
  font-size: 50px;
  background: gray;
  color: white;
  width: 60px;
  height: 60px;
  line-height: px;
  margin: 2%;
  border-radius: 8px;
  text-align: center;
  padding-bottom: 0%;
  text-decoration: none;
  box-shadow:rgb(0 0 0 / 89%) 0px 1px 8px;
  position:absolute
}

.btn-next p {
  padding: 0;
  margin: 0;
  line-height: 55px;
} */
